%h1 Login


- if current_user
  You are already logged in.
- else
  = render 'shared/error_messages', :target => @user_session

  = form_for(@user_session) do |f|
    = f.label :email
    = f.text_field :email
    %br
      = f.label :password
      = f.password_field :password
      %br
        = f.submit "Login"


